<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Amphiprion clarkii </key>
	<dict>
		<key>description</key>
		<string>우리의 니~~모!</string>
		<key>label</key>
		<string>니모물고기</string>
	</dict>
	<key>Abudefduf vaigiensis </key>
	<dict>
		<key>description</key>
		<string>Abudefduf vaigiensis </string>
		<key>label</key>
		<string>Abudefduf</string>
	</dict>
	<key>Dascyllus reticulatus </key>
	<dict>
		<key>description</key>
		<string>Dascyllus reticulatus</string>
		<key>label</key>
		<string>Dascyluus</string>
	</dict>
</dict>
</plist>
